extends template.jade

block content
	.wrapper
		.news
			.header-line
				span.line
				h2 Новости
				span.line
			.news-slider
				.news-slider__item(data-width="450")
					.news-slider__info
						h3 Дедлайн приема пьес до 20-го декабря 2016
						p Вниманию драматургов! Продолжается прием и отбор пьес для программы "Первая читка", которая состоится в рамках фестиваля им. А. Володина "ПЯТЬ ВЕЧЕРОВ" с 5 по 10 февраля.
						p "Первая читка" ждет ваши новые (нигде ранее не представленные) произведения для презентации зрителям в прочтении молодых режиссеров.
						a(href="").btn Прислать пьесу
				.news-slider__item(data-width="225" data-top="40")
					.news-slider__info
						h3 Читка 2016
						p Программа «Первая читка» пройдет в театре «На Литейном» 7, 8, 9 февраля. Начало читок в 13:30.
						a(href="") Программа читки
				.news-slider__item(data-width="450")
					img(src="img/volodin.jpg", alt="")
					.news-slider__info
						p.news-slider__date 
							span 10 
							| февраля
						p.news-slider__name Поездка<br> на кладбище
						p Автобус на Комаровское кладбище в день рождения А.М. Володина - 10 февраля в 11:00 от театра "На Литейном".
				.news-slider__item(data-width="300" data-top="50")
					.news-slider__info
						2
				.news-slider__item(data-width="450")
					.news-slider__info
						h3 Дедлайн приема пьес до 20-го декабря 2016
						p Вниманию драматургов! Продолжается прием и отбор пьес для программы "Первая читка", которая состоится в рамках фестиваля им. А. Володина "ПЯТЬ ВЕЧЕРОВ" с 5 по 10 февраля.
						p "Первая читка" ждет ваши новые (нигде ранее не представленные) произведения для презентации зрителям в прочтении молодых режиссеров.
						a(href="").btn.btn-bd Прислать пьесу
				.news-slider__item(data-width="350" data-top="30")
					.news-slider__info
						2
		// /.news
		.programm 
			.header-line
				span.line
				h2 Фестиваль 2016
				span.line
			.programm__list.programm__list--flex
				.programm__item
					.programm__info
						p.programm__date 
							span 6
							| февраля
						p.programm__special Торжественное открытие фестиваля
						p.programm__name Дядя Ваня
						p.programm__author Антон Чехов
						p.programm__txt Камерный театр (Воронеж)
						p.programm__producer Режиссер Михаил Бычков
						p.programm__place Молодежный театр на Фонтанке, 19:00
					.programm__img.programm__img--top-bottom
						p.programm__special Торжественное открытие фестиваля
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket 
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-1.jpg", alt="")
				.programm__item
					.programm__info
						img(src="img/mask.png", alt="")
						p.programm__date 
							span 7
							| февраля
						p.programm__name С любимыми не расставайтесь
						p.programm__author Александр Володин
						p.programm__txt Камерный театр (Воронеж)
						p.programm__producer Режиссер Александр Баргман
						p.programm__place Театр «На Литейном», 19:00
					.programm__img
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket 
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-2.jpg", alt="")
				.programm__item
					.programm__info
						p.programm__date 
							span 7
							| февраля
						p.programm__name Письмовник
						p.programm__author Михаил Шишкин
						p.programm__txt Театр "Мастерская"
						p.programm__producer Режиссер Наталия Лапина
						p.programm__place На сцене Театра «Мастерская», 19:00
					.programm__img
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket 
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-3.jpg", alt="")
				.programm__item
					.programm__info
						p.programm__date 
							span 8
							| февраля
						p.programm__name Осенний марафон
						p.programm__author Александр Володин
						p.programm__txt Государственный русский драматический театр им. Н.А. Бестужева (Улан-Удэ)
						p.programm__producer Режиссер Сергей Левицкий
						p.programm__place На сцене Театра-фестиваля «Балтийский дом», 19:00
					.programm__img
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket 
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-4.jpg", alt="")
				.programm__item
					.programm__info
						p.programm__date 
							span 8
							| февраля
						p.programm__special По итогам программы «Первая читка» ХII фестиваля «Пять вечеров»
						p.programm__name Антарктида
						p.programm__author Ульяна Гицарева
						p.programm__txt Театр "На Литейном" (Санкт-Петербург)
						p.programm__producer Режиссер Петр Чижов
						p.programm__place На сцене Театра «На Литейном», 19:00
					.programm__img
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-5.jpg", alt="")
				.programm__item(data-minus="15")
					.programm__info
						p.programm__date 
							span 9
							| февраля
						p.programm__name С любимыми не расставайтесь
						p.programm__author Александр Володин
						p.programm__txt Театр «Июльансамбль», 9-я студия МХТ (Москва)
						p.programm__producer Режиссер Георгий Сурков
						p.programm__place На сцене Театра «На Литейном», 19:00
					.programm__img
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-6.jpg", alt="")
				.programm__item(data-minus="25")
					.programm__info
						p.programm__date 
							span 9
							| февраля
						p.programm__name Хочу в Париж
						p.programm__author Михаил Веллер
						p.programm__txt Городской драматический театр (Нижневартовск)
						p.programm__producer Режиссер Вячеслав Зайчиков
						p.programm__place На Малой сцене Большого театра кукол, 17:00 и 19:00
					.programm__img
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket 
								a(href="" target="_blank") Билеты 17:00
								a(href="" target="_blank") Билеты 19:00
						.programm__img-bg
						img(src="img/programm-1.jpg", alt="")
				.programm__item
					.programm__info
						p.programm__date
							span 9
							| февраля
						p.programm__spec Для участников фестиваля
						p.programm__name Квартирник
						p.programm__txt Городской театр и социально-художественный театр (Санкт-Петербург)
						p.programm__producer Режиссер Наталия Лапина
						p.programm__place В помещении Театра «На Литейном», 22:30
					.programm__img.programm__img--top-bottom
						.programm__special 
							p Торжественное закрытие фестиваля
							p.programm__premiere Премьера
						.programm__age-ticket
							p.programm__age 16+
							.programm__ticket
								a(href="" target="_blank") Билеты
						.programm__img-bg
						img(src="img/programm-2.jpg", alt="")
			// .programm__list
		// /.programm
	// .wrapper
