extends template.jade

block content
	.wrapper
		.news
			h2 
				span Новости
			.news-slider
				.news-slider__item(data-width="450")
					.news-slider__info
						h3 Дедлайн приема пьес до 20-го декабря 2016
						p Вниманию драматургов! Продолжается прием и отбор пьес для программы "Первая читка", которая состоится в рамках фестиваля им. А. Володина "ПЯТЬ ВЕЧЕРОВ" с 5 по 10 февраля.
						p "Первая читка" ждет ваши новые (нигде ранее не представленные) произведения для презентации зрителям в прочтении молодых режиссеров.
						a(href="") Прислать пьесу
				.news-slider__item(data-width="225")
					.news-slider__info
						2
				.news-slider__item(data-width="450")
					.news-slider__img
						img(src="img/volodin.jpg", alt="")
					.news-slider__info
						p.news-slider__date 10 февраля
						p.news-slider__name Поездка на кладбище
						p.news-slider__txt Автобус на Комаровское кладбище в день рождения А.М. Володина - 10 февраля в 11:00 от театра "На Литайном".
				.news-slider__item(data-width="300")
					.news-slider__info
						2
				.news-slider__item(data-width="450")
					.news-slider__info
						h3 Дедлайн приема пьес до 20-го декабря 2016
						p Вниманию драматургов! Продолжается прием и отбор пьес для программы "Первая читка", которая состоится в рамках фестиваля им. А. Володина "ПЯТЬ ВЕЧЕРОВ" с 5 по 10 февраля.
						p "Первая читка" ждет ваши новые (нигде ранее не представленные) произведения для презентации зрителям в прочтении молодых режиссеров.
						a(href="") Прислать пьесу
				.news-slider__item(data-width="350")
					.news-slider__info
						2
		.programm 
			.programm__item
				.programm__info
					p.programm__date 6 февраля
					p.programm__name Несовременный концерт
					p.programm__txt Учебный театр школы-студии МХАТ (Москва)
					p.programm__producer Режиссер Виктор Рыжаков
					p.programm__place "Театр на Литейном", 19:00
				.programm__img
					img(src="img/programm-1.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-2.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-3.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-4.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-5.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-6.jpg", alt="")
