extends template.jade

block content
	.wrapper
		.news
			1111
		.programm 
			.programm__item
				.programm__info
					p.programm__date 6 февраля
					p.programm__name Несовременный концерт
					p.programm__txt Учебный театр школы-студии МХАТ (Москва)
					p.programm__producer Режиссер Виктор Рыжаков
					p.programm__place "Театр на Литейном", 19:00
				.programm__img
					img(src="img/programm-1.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-2.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-3.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-4.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-5.jpg", alt="")
			.programm__item
				.programm__info
					1
				.programm__img
					img(src="img/programm-6.jpg", alt="")
