doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Всероссийский театральный фестиваль имени Александра Володина
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		link(rel="stylesheet", href="css/volodin-fest.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/volodin-fest.js")
	body
		.main-content
			header
				.wrapper
					1
			main
				block content

		footer
			.wrapper
				.footer-info
					.footer-info__slider
						p Театральный фестиваль "Пять вечеров" проводится "Петербургским театральным журналом" при содействии
						.partners-slider
							.partners-slider__item
								1
							.partners-slider__item
								2
							.partners-slider__item
								3
							.partners-slider__item
								1
							.partners-slider__item
								2
							.partners-slider__item
								3
					.footer-info__contacts
						| Контакты 
						.footer-info__text
							span Телефон/факс 
							span.phone +7 (812) 579-67-73
						.footer-info__text
							span E-mail:
							span.mail 
								a(href="mailto: ptjournal@mail.ru") ptjournal@mail.ru 
								a(href="mailto:peteazhur@gmail.ru") peteazhur@gmail.ru
						.footer-info__text
							span Почтовый адрес:
							span.address 191028, Санкт-Петербург, ул. Моховая, 30, редакция "Петербургского театрального журнала"
						
			.footer-copyright
				.wrapper.footer-copyright__info
					.footer-copyright__left
						p &copy; 2004-2017 Пять вечеров
						p &copy; Дизайн и разработка 
							a(href="http://shweb.ru/" target="_blank") Studio Sweb
					.footer-copyright__logo 
					.footer-copyright__right
						p Директор фестиваля - Виктор Рыжаков
						p Арт-директор - Марина Дмитревская
