doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Всероссийский театральный фестиваль имени Александра Володина
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Mono&amp;subset=cyrillic-ext")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		link(rel="stylesheet", href="style.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/volodin-fest.js")
	body
		.main-content
			header
				.wrapper.header-info
					.header-left
						ul.menu-top
							li
								a(href="") Афиша
							li.menu-item-has-children
								a(href="") Фестиваль
								.menu-top-second
									ul
										li
											a(href="") Новости
										li
											a(href="") О фестивале
										li
											a(href="") Прошедшие фестивали
										li
											a(href="") Фестивальная жизнь
										li
											a(href="") Пресса
										li
											a(href="") Контакты
							li.menu-item-has-children.menu-bd
								a(href="") Участвовать
								.menu-top-second
									ul
										li
											a(href="") Новости
										li
											a(href="") О фестивале
										li
											a(href="") Прошедшие фестивали
										li
											a(href="") Фестивальная жизнь
										li
											a(href="") Пресса
										li
											a(href="") Контакты
					// /.header-left
					.header-logo
						a(href="index.html") 
							img(src="img/logo.png", alt="")
					.header-right
						.menu-part
							a(href="") Первая читка
						.menu-volodin
							img(src="img/volodin-sm.jpg", alt="")
							span Александр Володин
							.menu-volodin-second
								ul
									li
										a(href="") 
											img(src="img/volodin-menu-1.jpg", alt="")
											span Биография
									li
										a(href="")
											img(src="img/volodin-menu-2.jpg", alt="")
											span Спектакли
									li
										a(href="")
											img(src="img/volodin-menu-3.jpg", alt="")
											span Стихи
									li
										a(href="")
											img(src="img/volodin-menu-4.jpg", alt="")
											span Кино
									li
										a(href="")
											img(src="img/volodin-menu-5.jpg", alt="")
											span Видео
									li
										a(href="")
											img(src="img/volodin-menu-6.jpg", alt="")
											span Фотографии
									li
										a(href="")
											img(src="img/volodin-menu-7.jpg", alt="")
											span Воспоминания
					// /.header-right
				// /.wrapper.header-info
			main
				block content
		// /.main-content
		footer
			.wrapper
				.footer-info
					.footer-info__slider
						p Театральный фестиваль "Пять вечеров" проводится "Петербургским театральным журналом" при содействии
						.partners-slider
							.partners-slider__item
								img(src="img/partner-1.jpg", alt="")
							.partners-slider__item
								img(src="img/partner-2.jpg", alt="")
							.partners-slider__item
								img(src="img/partner-3.jpg", alt="")
							.partners-slider__item
								img(src="img/partner-1.jpg", alt="")
							.partners-slider__item
								img(src="img/partner-2.jpg", alt="")
							.partners-slider__item
								img(src="img/partner-3.jpg", alt="")
					.footer-info__contacts
						h3 Контакты 
						.footer-info__text.footer-info__text--phone
							span Телефон/факс 
							span.phone +7 (812) 579-67-73
						.footer-info__text
							span E-mail:
							span.mail 
								a(href="mailto: ptjournal@mail.ru") ptjournal@mail.ru 
								a(href="mailto:peteazhur@gmail.ru") peteazhur@gmail.ru
						.footer-info__text
							span Почтовый адрес:
							span.address 191028, Санкт-Петербург, ул. Моховая, 30, редакция "Петербургского театрального журнала"
				// /.footer-info
			// /.wrapper
			.footer-copyright
				.wrapper.footer-copyright__info
					.footer-copyright__left
						p &copy; 2004-2017 Пять вечеров
						p &copy; Дизайн и разработка 
							a(href="http://shweb.ru/" target="_blank") Studio Shweb
					.footer-copyright__logo
						img(src="img/logo-footer.png", alt="")
					.footer-copyright__right
						p Директор фестиваля - Виктор Рыжаков
						p Арт-директор - Марина Дмитревская
			// /.footer-copyright
