extends template.jade

block content
	.wrapper
		.content
			.bg-white
				.text-lnk
					a(href="") История постановок
					a(href="") К списку пьес
				.preview 
						h1 Пять вечеров
						h4 Александр Володин
						// тут я не поняла, почему в макете в одном случае отступ большой, а во втором случае - нет!
						.preview__inner 
							p Эта история произошла в Ленинграде, на одной из улиц, в одном из домов. 
							p Началась она задолго до этих пяти вечеров и кончится еще нескоро. Зима, по вечерам валит снег. Он волнует сердце воспоминаниями о школьных каникулах, о встречах в парадном, о прошлых зимах…
				.preview 
					h2 Первый вечер
					p Началась она задолго до этих пяти вечеров и кончится еще нескоро. Зима, по вечерам валит снег. Он волнует сердце воспоминаниями о школьных каникулах, о встречах в парадном, о прошлых зимах…
				img(src="img/volodin.jpg", alt="")
				p 
					strong Зоя. 
					| Нет, это безумие, что я так себя веду. Только прошу, не истолкуй мое поведение как вообще легкую доступность ко мне.
				p
					strong Ильин. 
					| Ладно.
				p
					strong Зоя. 
					| Что — ладно?
				p
					strong Ильин. 
					| Не истолкую. <br>
					strong Зоя. 
					| Вредный, ты — это другое дело. (Пауза). А правда, как у нас все быстро произошло. Всего неделю назад мы еще друг друга не знали. И — вдруг. Прямо не верится. Правда, я какая-то безумная. Ты меня, наверно, презираешь.
				p
					strong Ильин. 
					| Что ты, наоборот.
				p
					strong Зоя 
					| (показывает Ильину журнал мод). Скажи, а такая женщина тебе нравится?
				p
					strong Ильин. 
					| Ничего.
				p
					strong Зоя. 
					| Эту манекенщицу больше всех снимают. Вот здесь она хорошая. А здесь плохая. А эту в последних журналах совсем перестали показывать, наверно, поругалась. А может быть, замуж вышла за обеспеченного. Одной-то вообще жить лучше. Мужчине надо то носки покупать, то мясо, то четвертинку. Вот, скажи, что такое любовь?
				p
					strong Ильин. 
					| Неизвестно.
				p
					strong Зоя. 
					| Любовь… это электрический ток. Ильин. Очень может быть.
				p
					strong Зоя. 
					| Не может быть, а точно. У тебя когда отпуск кончается?
				p
					strong Ильин. 
					| Скоро — ту-ту!.. Сколько я здесь не был, лет семнадцать? И вот интересно: какая-то вывеска, или афишная тумба, или аптека на углу - все точно такое же, как и прежде. Над этой аптекой моя первая любовь жила. Я у них до войны комнату снимал.
				p
					strong Зоя. 
					| Правда? Ой, как интересно! Расскажи про свою первую любовь. Я люблю, когда рассказывают про свою первую любовь…
				p
					strong Ильин. 
					| Она красавица была, теперь таких нет. Звезда. Ее подруги так и звали: «Звезда».
				p
					strong Зоя. 
					| Ну, я тоже не в последних ходила. Вообще я молоденькая - прелестная была. За мной такой человек ухаживал! Только он был пожилой. Мать меня взяла и отговорила. Тогда я сама за него мою подругу сосватала. Недавно ее встретила. Одета!.. А ведь это могла быть я.
				p
					strong Ильин. 
					| А я бы, пожалуй, сейчас зашел.
				p
					strong Зоя. 
					| Куда?
				p
					strong Ильин. 
					| А к ней.
				p
					strong Зоя. 
					| А я ее на дуэль вызову.
				p
					strong Ильин. 
					| Всю войну с ней переписывались. Издать — целый том.
				p
					strong Зоя. 
					| Что же вы тогда расстались, если она такая звезда?
				p
					strong Ильин. 
					| Не удовлетворил высоким идеалам.
				p …
			// /.bg-white
			.banner-list
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
			// /.banner-list
		// /.content
	// /.wrapper
