extends template.jade

block content
	.wrapper
		.content
			.bg-white
				.text-lnk
					a(href="") История постановок
					a(href="") К списку пьес
				h1 Пять вечеров
				h4 Александр Володин
				<br><br>
				p.preview Эта история произошла в Ленинграде, на одной из улиц, в одном из домов. <br> Началась она задолго до этих пяти вечеров и кончится еще нескоро. Зима, по вечерам валит снег. Он волнует сердце воспоминаниями о школьных каникулах, о встречах в парадном, о прошлых зимах…
				<br><br>
				h2 Первый вечер
				<br>
				p.preview Эта история произошла в Ленинграде, на одной из улиц, в одном из домов. <br> Началась она задолго до этих пяти вечеров и кончится еще нескоро. Зима, по вечерам валит снег. Он волнует сердце воспоминаниями о школьных каникулах, о встречах в парадном, о прошлых зимах…
				<br><br>
				img(src="img/volodin.jpg", alt="")
				p 
					strong Зоя. 
					| Нет, это безумие, что я так себя веду. Только прошу, не истолкуй мое поведение как вообще легкую доступность ко мне. <br>
					strong Ильин. 
					| Ладно. <br>
					strong Зоя. 
					| Что — ладно? <br>
					strong Ильин. 
					| Не истолкую. <br>
					strong Зоя. 
					| Вредный, ты — это другое дело. (Пауза). А правда, как у нас все быстро произошло. Всего неделю назад мы еще друг друга не знали. И — вдруг. Прямо не верится. Правда, я какая-то безумная. Ты меня, наверно, презираешь. <br>
					strong Ильин. 
					| Что ты, наоборот. <br>
					strong Зоя 
					| (показывает Ильину журнал мод). Скажи, а такая женщина тебе нравится? <br>
					<br>
					strong Ильин. 
					| Ничего. <br>
					strong Зоя. 
					| Эту манекенщицу больше всех снимают. Вот здесь она хорошая. А здесь плохая. А эту в последних журналах совсем перестали показывать, наверно, поругалась. А может быть, замуж вышла за обеспеченного. Одной-то вообще жить лучше. Мужчине надо то носки покупать, то мясо, то четвертинку. Вот, скажи, что такое любовь? <br>
					strong Ильин. 
					| Неизвестно. <br>
					strong Зоя. 
					| Любовь… это электрический ток. Ильин. Очень может быть. <br>
					strong Зоя. 
					| Не может быть, а точно. У тебя когда отпуск кончается? <br>
					strong Ильин. 
					| Скоро — ту-ту!.. Сколько я здесь не был, лет семнадцать? И вот интересно: какая-то вывеска, или афишная тумба, или аптека на углу - все точно такое же, как и прежде. Над этой аптекой моя первая любовь жила. Я у них до войны комнату снимал. <br>
					strong Зоя. 
					| Правда? Ой, как интересно! Расскажи про свою первую любовь. Я люблю, когда рассказывают про свою первую любовь… <br>
					strong Ильин. 
					| Она красавица была, теперь таких нет. Звезда. Ее подруги так и звали: «Звезда». <br>
					strong Зоя. 
					| Ну, я тоже не в последних ходила. Вообще я молоденькая - прелестная была. За мной такой человек ухаживал! Только он был пожилой. Мать меня взяла и отговорила. Тогда я сама за него мою подругу сосватала. Недавно ее встретила. Одета!.. А ведь это могла быть я. <br>
					strong Ильин. 
					| А я бы, пожалуй, сейчас зашел. <br>
					strong Зоя. 
					| Куда? <br>
					strong Ильин. 
					| А к ней. <br>
					strong Зоя. 
					| А я ее на дуэль вызову. <br>
					strong Ильин. 
					| Всю войну с ней переписывались. Издать — целый том.<br>
					strong Зоя. 
					| Что же вы тогда расстались, если она такая звезда? <br>
					strong Ильин. 
					| Не удовлетворил высоким идеалам. <br>
					| …<br>
			.banner-list
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
				a(href="").banner-item
					| Баннер
